[data-anima] {
    opacity: 0;
    transition: .8s;
}

[data-anima="top"] {
    transform: translate3d(0, 50px, 0);
}

[data-anima="right"] {
    transform: translate3d(50px, 0, 0);
}

[data-anima="left"] {
    transform: translate3d(-50px, 0, 0);
}

[data-anima="bottom"] {
    transform: translate3d(0, -50px, 0);
}

[data-anima].animate {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}